.background-container {
    background-color: lightyellow;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab-container {
    background-color: lightcyan;
    padding: 20%;
    margin: 20px;
    width: 50%;
    text-align: center;
}

.buttons-container {
    background-color: pink;
    color: black;
    font-weight: bold;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;

}

.buttons-direction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}