.background-container {
    background-image: linear-gradient(to right, yellow ,red);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab-container {
    text-align: center;
    height: 70%;
    width: 70%;
}

.buttons-container {
    background-color: rgb(255, 233, 110);
    color: black;
    font-weight: bold;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    height: 4vh;
    width: 15vh;

}

.buttons-direction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.paragraph {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.buttons-container1 {
    background-color: rgb(255, 27, 65);
    color: black;
    font-weight: bold;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    height: 4vh;
    width: 15vh;
}
.image {
    height: 70%;
    width: 50%;
}
.all-buttons {
    display: flex;
    justify-content: space-between;
}
.m-span {
    color: rgb(255, 255, 0);
}
.a-span {
    color: rgb(255, 0, 0);
}